/* déclarations générales */
/*  * est le sélecteur qui représente TOUS les éléments d'une page  */
*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    color: darkred;
}

/* déclarations de classes */
.rouge-gras{
    color: #8b0000;
    font-weight: bold;
}

.carre{
    margin: 10px;
    border: 3px solid darkblue;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.a2em{
    font-size: 2em;
}

.a2rem{
    font-size: 2rem;
}

.big-box{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.carre5050{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgba(139, 0, 0, 0.5);
}

.carre500100{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(139, 0, 0);
    opacity: 50%;
}

/* déclaration des id */
#exempleMoinsPire{
    color: rgb(77, 23, 128);
    background-color: rgba(0, 119, 255, 0.5);
}

/* déclarations de structure */
body{
    /* la propriété pour définir la police de caractère */
    font-family: Arial, Helvetica, sans-serif;
}

body > main{
    width: 80%;
}